:root {
    --main-blue: #0984e3;
    --dark-sidebar: #1a2a6c;
}

body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    background: var(--dark-sidebar);
    color: white;
    min-height: 100vh;
    padding: 30px;
}

.profile-img {
    width: 160px;
    height: 160px;
    border: 5px solid #fdbb2d;
    object-fit: cover;
}

.section-title {
    color: var(--main-blue);
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.video-container {
    border-radius: 10px;
    overflow: hidden;
}

.socmed-link {
    transition: 0.3s;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
}

.socmed-link:hover {
    opacity: 0.8;
    transform: translateY(-3px);
}